@import "variables";

.button {
  --button-color: #{$text-color};
  --button-background: #{$background-color};

  padding: 8px 16px;
  color: var(--button-color);
  text-transform: uppercase;
  background-color: var(--button-background);
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    --button-background: #{$background-color-hover};
  }

  &:disabled,
  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
