$color-primary: #00de11;

.headline {
  color: #000;
  font-size: 32px;
  font-weight: 600;
}

.button {
  padding: 8px 16px;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: $color-primary;
  color: #fff;
}
